In [20]:
import pandas as pd
import numpy as np

In [21]:
done = 'done.csv'
df_start = pd.read_csv(done, sep= ',', header = 0)

In [22]:
df_start.head()

,Unnamed: 0,Date,Time,Indoor Temperature,Air Quality,Indoor Humidity,Outside Temperature,Outside Humidity,Median daily temp
0,0,2020-01-01,06:00:00,23.226588,G,26.245769,2.800000,81.0,3.5
1,1,2020-01-01,07:00:00,23.405192,G,26.317767,3.066667,80.0,3.5
2,2,2020-01-01,08:00:00,23.391584,G,25.853402,3.333333,85.0,3.5
3,3,2020-01-01,09:00:00,23.562065,G,25.692726,3.866667,86.0,3.5
4,4,2020-01-01,10:00:00,23.408751,G,25.814888,4.133333,83.0,3.5

In [23]:
sensor = 'sensor_data_2022119_1028.csv'
df_sensor = pd.read_csv(sensor, sep= ',', header = 0)

In [24]:
df_sensor.head()

,Unnamed: 0,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,time,light,motion
0,0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [25]:
del df_sensor['Unnamed: 0']
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,time,light,motion
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [26]:
df_sensor.rename(columns = {'time':'Date'}, inplace = True)

In [27]:
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12, 10:57:40",NaN,NaN
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:57:40",NaN,NaN
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12, 10:58:31",NaN,NaN
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12, 10:58:31",NaN,NaN
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12, 10:59:18",NaN,NaN

In [28]:
df_sensor[['Date','Time']] = df_sensor.Date.str.split(expand=True)
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion,Time
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,"2022/10/12,",NaN,NaN,10:57:40
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12,",NaN,NaN,10:57:40
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,"2022/10/12,",NaN,NaN,10:58:31
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,"2022/10/12,",NaN,NaN,10:58:31
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,"2022/10/12,",NaN,NaN,10:59:18

In [29]:
df_sensor['Date'] = df_sensor['Date'].map(lambda x: x.lstrip(',').rstrip(','))
df_sensor['Time'] = df_sensor['Time'].map(lambda x: x.lstrip(' ').rstrip(' '))
df_sensor = df_sensor.replace('/','-', regex=True)
df_sensor = df_sensor.replace(';',':', regex=True)
df_sensor.head()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion,Time
0,6346818488fe7bce33774431,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3622,0.0,2022-10-12,NaN,NaN,10:57:40
1,6346818488fe7bce33774432,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,2022-10-12,NaN,NaN,10:57:40
2,634681b788fe7bce33774433,Pingisrum Addiva Sigurdsgatan,eui-a81758fffe075b65,30,21.9,3634,0.0,2022-10-12,NaN,NaN,10:58:31
3,634681b788fe7bce33774434,Matsal Addiva Sigurdsgatan,eui-a81758fffe075c91,26,23.1,3624,0.0,2022-10-12,NaN,NaN,10:58:31
4,634681e688fe7bce33774435,Skrivbord Addiva Sigurdsgatan,eui-a81758fffe075b66,26,23.7,3623,0.0,2022-10-12,NaN,NaN,10:59:18

In [30]:
df_sensor["Sensor address"].values

array(['Matsal Addiva Sigurdsgatan', 'Skrivbord Addiva Sigurdsgatan',
       'Pingisrum Addiva Sigurdsgatan', ..., 'Matsal Addiva Sigurdsgatan',
       'Pingisrum Addiva Sigurdsgatan', 'ERS Sensor Addiva Sigurdsgatan'],
      dtype=object)

In [31]:
df_sensor.loc[df_sensor["Sensor address"] == "Madelens skrivbord Addiva Sigurdsgatan", "Sensor address"] = "1"
df_sensor.loc[df_sensor["Sensor address"] == "Skrivbord Addiva Sigurdsgatan", "Sensor address"] = "2"
df_sensor.loc[df_sensor["Sensor address"] == "Matsal Addiva Sigurdsgatan", "Sensor address"] = "3"
df_sensor.loc[df_sensor["Sensor address"] == "Pingisrum Addiva Sigurdsgatan", "Sensor address"] = "4"
df_sensor.loc[df_sensor["Sensor address"] == "ERS Sensor Addiva Sigurdsgatan", "Sensor address"] = "5"

In [32]:
df_sensor.tail()

,_id,Sensor address,sensor_id,humidity,temperature,vdd,waterleak,Date,light,motion,Time
3424,636b716815a09358c55747f0,2,eui-a81758fffe075b66,44,22.4,3633,0.0,2022-11-09,NaN,NaN,10:22:48
3425,636b721c15a09358c55747f1,1,eui-a81758fffe075b67,29,30.2,3633,0.0,2022-11-09,NaN,NaN,10:25:48
3426,636b721c15a09358c55747f2,3,eui-a81758fffe075c91,43,21.7,3627,0.0,2022-11-09,NaN,NaN,10:25:48
3427,636b725815a09358c55747f3,4,eui-a81758fffe075b65,42,22.3,3631,0.0,2022-11-09,NaN,NaN,10:26:48
3428,636b725815a09358c55747f4,5,eui-a81758fffe034f66,44,22.2,3599,NaN,2022-11-09,142.0,0.0,10:26:48

In [33]:
df_sensor = df_sensor.rename({'Sensor address': 'sensor name',"Date":"date", "Time":"time"}, axis='columns')

In [34]:
df_sensor.insert(0, 'time', df_sensor.pop('time'))
df_sensor.insert(0, 'date', df_sensor.pop('date'))

In [36]:
df_sensor['hour'] = df_sensor['time']
df_sensor.tail()

,date,time,_id,sensor name,sensor_id,humidity,temperature,vdd,waterleak,light,motion,hour
3424,2022-11-09,10:22:48,636b716815a09358c55747f0,2,eui-a81758fffe075b66,44,22.4,3633,0.0,NaN,NaN,10:22:48
3425,2022-11-09,10:25:48,636b721c15a09358c55747f1,1,eui-a81758fffe075b67,29,30.2,3633,0.0,NaN,NaN,10:25:48
3426,2022-11-09,10:25:48,636b721c15a09358c55747f2,3,eui-a81758fffe075c91,43,21.7,3627,0.0,NaN,NaN,10:25:48
3427,2022-11-09,10:26:48,636b725815a09358c55747f3,4,eui-a81758fffe075b65,42,22.3,3631,0.0,NaN,NaN,10:26:48
3428,2022-11-09,10:26:48,636b725815a09358c55747f4,5,eui-a81758fffe034f66,44,22.2,3599,NaN,142.0,0.0,10:26:48

In [43]:
df_sensor["hour"] = df_sensor["hour"].str[:-6]
df_sensor.head()

,date,time,_id,sensor name,sensor_id,humidity,temperature,vdd,waterleak,light,motion,hour
0,2022-10-12,10:57:40,6346818488fe7bce33774431,3,eui-a81758fffe075c91,26,23.1,3622,0.0,NaN,NaN,10
1,2022-10-12,10:57:40,6346818488fe7bce33774432,2,eui-a81758fffe075b66,26,23.7,3623,0.0,NaN,NaN,10
2,2022-10-12,10:58:31,634681b788fe7bce33774433,4,eui-a81758fffe075b65,30,21.9,3634,0.0,NaN,NaN,10
3,2022-10-12,10:58:31,634681b788fe7bce33774434,3,eui-a81758fffe075c91,26,23.1,3624,0.0,NaN,NaN,10
4,2022-10-12,10:59:18,634681e688fe7bce33774435,2,eui-a81758fffe075b66,26,23.7,3623,0.0,NaN,NaN,10

In [44]:
outdoor_temp = '20221109_smhi_data_vasteras.csv'
df_outdoor = pd.read_csv(outdoor_temp, sep= ';', header = 0)
df_outdoor.head()

         date      time  outdoor temperature air quality
0  2022-10-11  06:00:00                  8.6           G
1  2022-10-11  18:00:00                  8.0           G
2  2022-10-12  06:00:00                  0.6           G
3  2022-10-12  18:00:00                  9.0           G
4  2022-10-13  06:00:00                  8.6           G

In [46]:
df_outdoor['hour'] = df_outdoor['time']

df_outdoor["hour"] = df_outdoor["hour"].str[:-6]
df_outdoor.head()

         date      time  outdoor temperature air quality hour
0  2022-10-11  06:00:00                  8.6           G   06
1  2022-10-11  18:00:00                  8.0           G   18
2  2022-10-12  06:00:00                  0.6           G   06
3  2022-10-12  18:00:00                  9.0           G   18
4  2022-10-13  06:00:00                  8.6           G   06

In [47]:
del df_outdoor['time']
df_outdoor.head()

         date  outdoor temperature air quality hour
0  2022-10-11                  8.6           G   06
1  2022-10-11                  8.0           G   18
2  2022-10-12                  0.6           G   06
3  2022-10-12                  9.0           G   18
4  2022-10-13                  8.6           G   06

In [48]:
df_sensorAndSmhi = pd.merge(df_sensor, df_outdoor, how="left", on=['date','hour'])
df_sensorAndSmhi.head()

,date,time,_id,sensor name,sensor_id,humidity,temperature,vdd,waterleak,light,motion,hour,outdoor temperature,air quality
0,2022-10-12,10:57:40,6346818488fe7bce33774431,3,eui-a81758fffe075c91,26,23.1,3622,0.0,NaN,NaN,10,NaN,NaN
1,2022-10-12,10:57:40,6346818488fe7bce33774432,2,eui-a81758fffe075b66,26,23.7,3623,0.0,NaN,NaN,10,NaN,NaN
2,2022-10-12,10:58:31,634681b788fe7bce33774433,4,eui-a81758fffe075b65,30,21.9,3634,0.0,NaN,NaN,10,NaN,NaN
3,2022-10-12,10:58:31,634681b788fe7bce33774434,3,eui-a81758fffe075c91,26,23.1,3624,0.0,NaN,NaN,10,NaN,NaN
4,2022-10-12,10:59:18,634681e688fe7bce33774435,2,eui-a81758fffe075b66,26,23.7,3623,0.0,NaN,NaN,10,NaN,NaN

In [ ]:
df_sensorAndSmhi.to_csv("latest_sensordata.csv", sep=',', encoding='utf-8')

In [49]:
listWithTemp =[]

earlyTemp = 0.6
lateTemp = 9.0
kvalitet = "G"
difference = 0.0

for i in range(len(df_sensorAndSmhi["time"])):
    if df_sensorAndSmhi.loc[i]["time"] == "06:00:00":
        listWithTemp.append(df_sensorAndSmhi.loc[i]["Lufttemperatur"])
        earlyTemp = df_sensorAndSmhi.loc[i]["Lufttemperatur"]
    if df_sensorAndSmhi.loc[i]["time"] == "18:00:00":
        listWithTemp.append(df_sensorAndSmhi.loc[i]["Lufttemperatur"])
        lateTemp = df_sensorAndSmhi.loc[i]["Lufttemperatur"]


    dayDifference = float(lateTemp) - float(earlyTemp)
    avgDayDifference = dayDifference / 6

    nightDifference = float(earlyTemp) - float(lateTemp)
    avgNightDifference = nightDifference / 6


    if df_sensorAndSmhi.loc[i]["time"] == "07:00:00":
        earlyTemp1 = earlyTemp + avgDayDifference
        listWithTemp.append(earlyTemp1)
    elif df_sensorAndSmhi.loc[i]["time"] == "08:00:00":
        earlyTemp2 = earlyTemp + avgDayDifference + avgDayDifference
        listWithTemp.append(earlyTemp2)
    elif df_sensorAndSmhi.loc[i]["time"] == "09:00:00":
        earlyTemp3 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp3)
    elif df_sensorAndSmhi.loc[i]["time"] == "10:00:00":
        earlyTemp4 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp4)
    elif df_sensorAndSmhi.loc[i]["time"] == "11:00:00":
        earlyTemp5 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp5)
    elif df_sensorAndSmhi.loc[i]["time"] == "12:00:00":
        earlyTemp6 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp6)
    elif df_sensorAndSmhi.loc[i]["time"] == "13:00:00":
        earlyTemp7 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp7)
    elif df_sensorAndSmhi.loc[i]["time"] == "14:00:00":
        earlyTemp8 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp8)

    elif df_sensorAndSmhi.loc[i]["time"] == "15:00:00":
        earlyTemp9 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference +0.06)
        listWithTemp.append(earlyTemp9)

    elif df_sensorAndSmhi.loc[i]["time"] == "16:00:00":
        earlyTemp10 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + 0.0754)
        listWithTemp.append(earlyTemp10)

    elif df_sensorAndSmhi.loc[i]["time"] == "17:00:00":
        earlyTemp11 = earlyTemp + (avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference + avgDayDifference)
        listWithTemp.append(earlyTemp11)

    elif df_sensorAndSmhi.loc[i]["time"] == "19:00:00":
        lateTemp12 = lateTemp + (avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp12)

    elif df_sensorAndSmhi.loc[i]["time"] == "20:00:00":
        lateTemp13 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp13)

    elif df_sensorAndSmhi.loc[i]["time"] == "21:00:00":
        lateTemp14 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp14)

    elif df_sensorAndSmhi.loc[i]["time"] == "22:00:00":
        lateTemp15 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp15)
    elif df_sensorAndSmhi.loc[i]["time"] == "23:00:00":
        lateTemp16 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp16)
    elif df_sensorAndSmhi.loc[i]["time"] == "00:00:00":
        lateTemp17 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference)
        listWithTemp.append(lateTemp17)
    elif df_sensorAndSmhi.loc[i]["time"] == "01:00:00":
        lateTemp18 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp18)
    elif df_sensorAndSmhi.loc[i]["time"] == "02:00:00":
        lateTemp19 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp19)
    elif df_sensorAndSmhi.loc[i]["time"] == "03:00:00":
        lateTemp20 = lateTemp + (avgNightDifference + avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp20)
    elif df_sensorAndSmhi.loc[i]["time"] == "04:00:00":
        lateTemp21 = lateTemp + (avgNightDifference + avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp21)
    elif df_sensorAndSmhi.loc[i]["time"] == "05:00:00":
        lateTemp22 = lateTemp + (avgNightDifference+ avgNightDifference)
        listWithTemp.append(lateTemp22)

df_sensorAndSmhi.insert(5, "Outside Temperature", listWithTemp, True)

ValueError: Length of values (2) does not match length of index (3429)